In [ ]:
###对文本进行处理、、、、并提取基本的特征
# 2021/3/10
## by Hank

In [2]:
import numpy as np 
import pandas as pd 
import os
import nltk

In [11]:
test_raw = pd.read_csv("./data/test.csv")
test = test_raw.drop(["Unnamed: 0"],axis=1).copy()
test

                                                article   class
0     studies show that you may be lied to every day...    high
1     you could feel sorry for alberto torres , who ...    high
2     although most weddings follow long-held tradit...    high
3     it was 1961 and i was in the fifth grade . my ...    high
4     the sat is one of two major tests for the entr...    high
...                                                 ...     ...
1402  come and see the india elephants and the new t...  middle
1403  what are your clothes made of ? are they made ...  middle
1404  most people do n't like mice , but they love o...  middle
1405  val is a six-year-old boy . he begins to go to...  middle
1406  my name is david and i have two brothers , mar...  middle

[1407 rows x 2 columns]

In [75]:
train_raw = pd.read_csv("./data/train.csv")
train = train_raw.drop(["Unnamed: 0"],axis=1).copy()
train

                                                 article   class
0      my husband is a born shopper . he loves to loo...    high
1      tea drinking was common in china for nearly on...    high
2      once upon a time , there was a scholar who wan...    high
3      when newspapers and radio describe the damage ...    high
4      below is a page adapted from about wikipedia o...    high
...                                                  ...     ...
25132  joe brown had a shop . he sold meat in his sho...  middle
25133  if you do not use your arms or your legs for s...  middle
25134  mrs. jones is waiting for an important telepho...  middle
25135  new york is a very large city with 8 million p...  middle
25136  there are 45 students in our class . i have ma...  middle

[25137 rows x 2 columns]

In [4]:
#test_article[0]

In [5]:
test_article = test["article"]
test_class = test["class"]
words = nltk.word_tokenize(test_article[0])
#words
interpunctuations = [',', '.', ':', ';', '?', '(', ')', '[', ']', '&', '!', '*', '@', '#', '$', '%']   #定义标点符号列表
cutwords1 = [word for word in words if word not in interpunctuations] 

from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

stops = set(stopwords.words("english"))
cutwords2 = [word for word in cutwords1 if word not in stops]  #判断分词在不在停用词列表内
print('\n【NLTK分词后去除停用词结果：】')
print(cutwords2)

print('\n【NLTK分词进行词干提取：】')
cutwords3 = []
for cutword in cutwords2:
    cutwords3.append(PorterStemmer().stem(cutword))    #词干提取
print(cutwords3)

【NLTK分词后去除停用词结果：】
['studies', 'show', 'may', 'lied', 'every', 'day', 'anywhere', '10', '200', 'times', 'say', '``', 'nice', 'song', '``', '``', 'honey', "n't", 'look', 'fat', '``', 'another', 'study', 'showed', 'strangers', 'lied', 'three', 'times', 'within', 'first', '10', 'minutes', 'meeting', 'lie', 'strangers', 'lie', 'coworkers', 'men', 'lie', 'eight', 'times', 'people', 'women', 'lie', 'protect', 'people', "'re", 'married', "'re", 'going', 'lie', 'wife/', 'husband', 'one', 'every', '10', 'communications', "'re", 'unmarried', 'number', 'drops', 'three', 'look', 'point', 'got', 'lied', "'s", 'agreed', 'get', 'lied', 'truth', 'lying', 'lying', "'s", 'cooperative', 'act', 'lies', 'harmful', 'sometimes', "'re", 'willing', 'lie', 'sake', 'social', 'dignity', 'maybe', 'keep', 'private', 'secret', 'lying', 'complex', "'s", 'woven', 'fabric', 'daily', 'business', 'lives', "'re", 'deeply', 'disturbed', 'truth', 'explain', 'sometimes', 'good', 'reasons', 'times', "n't", 'understand', 'gaps', 'ideals', 'realities', 'lives', "'re", 'lying', 'secretly', "'re", 'ways', 'society', 'practiced', 'centuries', 'centuries', "'s", 'old', 'breathing', "'s", 'part', 'culture', 'history', 'think', 'stories', 'dante', 'shakespeare', 'bible', 'news', 'world', 'lying', 'great', 'value', 'evolution', 'human', 'researchers', 'long', 'known', 'intelligent', 'species', 'likely', 'lie', 'human', 'like', 'become', 'leaders', 'starts', 'really', 'early', 'early', 'well', 'babies', 'pretend', 'cry', 'pause', 'wait', 'see', "'s", 'coming', 'go', 'right', 'back', 'crying', 'one-year-olds', 'learn', 'hiding', 'truth', 'two-year-olds', 'bluff', 'five-year-olds', 'lie', 'outright', 'try', 'control', 'via', 'flattery', 'nine-year-olds', 'masters', 'covering', 'time', 'enter', 'college', "'re", 'going', 'lie', 'mom', 'one', 'every', 'five', 'interactions', 'time', 'enter', 'work', 'world', 'breadwinners', "'ve", 'entered', 'world', 'full', 'fake', 'digital', 'friends', 'business', 'media', 'identity', 'thieves', 'world-class', 'cheats', '--', '--', 'short', 'post-truth', 'society', 'well', 'steps', 'take', 'guide', 'way', 'bushes', 'trained', 'lie', 'spotters', 'get', 'truth', '90', 'time', 'rest', 'us', "'re", '54', 'accurate', 'easy', 'learn', 'clever', 'liars', 'stupid', 'liars', "'re", 'real', 'original', 'liars', 'make', 'mistakes', 'use', 'techniques']

【NLTK分词进行词干提取：】
['studi', 'show', 'may', 'lie', 'everi', 'day', 'anywher', '10', '200', 'time', 'say', '``', 'nice', 'song', '``', '``', 'honey', "n't", 'look', 'fat', '``', 'anoth', 'studi', 'show', 'stranger', 'lie', 'three', 'time', 'within', 'first', '10', 'minut', 'meet', 'lie', 'stranger', 'lie', 'cowork', 'men', 'lie', 'eight', 'time', 'peopl', 'women', 'lie', 'protect', 'peopl', "'re", 'marri', "'re", 'go', 'lie', 'wife/', 'husband', 'one', 'everi', '10', 'commun', "'re", 'unmarri', 'number', 'drop', 'three', 'look', 'point', 'got', 'lie', "'s", 'agre', 'get', 'lie', 'truth', 'lie', 'lie', "'s", 'cooper', 'act', 'lie', 'harm', 'sometim', "'re", 'will', 'lie', 'sake', 'social', 'digniti', 'mayb', 'keep', 'privat', 'secret', 'lie', 'complex', "'s", 'woven', 'fabric', 'daili', 'busi', 'live', "'re", 'deepli', 'disturb', 'truth', 'explain', 'sometim', 'good', 'reason', 'time', "n't", 'understand', 'gap', 'ideal', 'realiti', 'live', "'re", 'lie', 'secretli', "'re", 'way', 'societi', 'practic', 'centuri', 'centuri', "'s", 'old', 'breath', "'s", 'part', 'cultur', 'histori', 'think', 'stori', 'dant', 'shakespear', 'bibl', 'news', 'world', 'lie', 'great', 'valu', 'evolut', 'human', 'research', 'long', 'known', 'intellig', 'speci', 'like', 'lie', 'human', 'like', 'becom', 'leader', 'start', 'realli', 'earli', 'earli', 'well', 'babi', 'pretend', 'cri', 'paus', 'wait', 'see', "'s", 'come', 'go', 'right', 'back', 'cri', 'one-year-old', 'learn', 'hide', 'truth', 'two-year-old', 'bluff', 'five-year-old', 'lie', 'outright', 'tri', 'control', 'via', 'flatteri', 'nine-year-old', 'master', 'cover', 'time', 'enter', 'colleg', "'re", 'go', 'lie', 'mom', 'one', 'everi', 'five', 'interact', 'time', 'enter', 'work', 'world', 'breadwinn', "'ve", 'enter', 'world', 'full', 'fake', 'digit', 'friend', 'busi', 'media', 'ident', 'thiev', 'world-class', 'cheat', '--', '--', 'short', 'post-truth', 'societi', 'well', 'step', 'take', 'guid', 'way', 'bush', 'train', 'lie', 'spotter', 'get', 'truth', '90', 'time', 'rest', 'us', "'re", '54', 'accur', 'easi', 'learn', 'clever', 'liar', 'stupid', 'liar', "'re", 'real', 'origin', 'liar', 'make', 'mistak', 'use', 'techniqu']

In [9]:
test_article[0].split(".")[2]

" '' `` honey , you do n't look fat in that , no "

In [ ]:
#nltk.download()

In [74]:
#Packages
import nltk 
import pandas as pd
import glob
import re
from nltk.corpus import stopwords
from nltk.tag import pos_tag
from collections import Counter
from nltk import sent_tokenize
# nltk.download('wordnet')
# nltk.download('stopwords')
# nltk.download('averaged_perceptron_tagger')
    
class features:
    Dale_Chall_List = pd.read_csv("./data/Dale Chall List.txt")
    columns = ['Class','Total Number Of Sentences', 'Average Sentence Length', 'Average Word Length', \
               'Number of Uncommon Words', 'Number of Unique Words', 'Words with 1 to 3 syllables', \
               "Words with 4 syllables", "Words with 5 syllables", "Words with 6 syllables", \
               "Words with more than 7 syllables", "Average number of syllables"]
    ptcol = ['CC', 'CD', 'NNS', 'VBP', 'NN', 'RB', 'MD', 'VB', 'VBZ', 'VBD', 'VBG', 'IN', 'JJ',  'FW', 'WDT', \
     'RBR', 'PRP$', 'VBN', 'PRP', 'DT', 'JJS', 'RP', 'JJR', 'WRB',  'WP', 'NNP', 'WP$',\
     'PDT', 'RBS', "''", 'NNPS', 'SYM', 'EX','TO','UH']
    ptcol.sort()
    columns.extend(ptcol)

#Preprocessing
    def preprocessing(self,text1):    
        text1 = re.sub('[^a-zA-Z]', ' ', text1)
        return [word for word in text1.lower().split() if not word in set(stopwords.words('english'))]
 
#Feature extraction
    def avg_sentence_length(self, text, num_sents):
        """句子平均长度"""
        avg = float(len(text)/num_sents)
        return avg
 
    def avg_word_length(self, text):
        """单词的平均长度"""
        s=0
        for w in text:
            s+=len(w)
            a=s/len(text)
        return a
 
    def syllable_count_single_word(self, word):
        """单音节的总数"""
        word = word.lower()
        count = 0
        vowels = "aeiouy"
        if word[0] in vowels:
            count += 1
        for index in range(1, len(word)):
            if word[index] in vowels and word[index - 1] not in vowels:
                count += 1
        if word.endswith("e"):
            count -= 1
        if count == 0:
            count += 1
        return count
 
    def avg_syllables(self, text):
        """文章单音节"""
        s=0
        for w in text:
            s+=self.syllable_count_single_word(w)
        a=s/len(text)
        return a
 
    def pos_count_in_list(self, list1):
        """词性标注"""
        pt = pos_tag(list1)
        dictpt = dict(pt)
        dictpt = Counter(dictpt.values())
        vl = []
        for i in self.ptcol:
            if i in dictpt.keys():
                vl.append(dictpt[i])
            else:
                vl.append(0)
        return vl
 
    def dif_words(self, text):
        """词频"""
        frequency = Counter(text)
        return len(frequency)
 
    def freq_syl(self, text):
        """平均音节频数"""
        count = [0,0,0,0,0]
        uniq_words = Counter(text).keys()
        for word in uniq_words:
            x = self.syllable_count_single_word(word)
            if(x > 1 and x <=3):
                count[0]+=1
            elif(x == 4):
                count[1]+=1
            elif(x == 5):
                count[2]+=1
            elif(x == 6):
                count[3]+=1
            else:
                count[4]+=1
        return count
 
    def not_in_dale_chall(self,text):
        """戴尔查词表"""
        n = [w for w in text if w not in self.Dale_Chall_List]
        n1 = len(n)
        return n1
    
#     def total_polysyllables(self):
#         """多音节总数"""
#         return
    
#     def total_words(self):
#         """总词数"""
#         return len(nltk.word_tokenize(self))
    
    

#CREATING THE DATAFRAMES
    def fextr(self,txt_article,txt_class):
        c2 = [txt_class]
#         file = open(filename, 'r', encoding = "utf8")
#         text2 = file.read()
        text2 = txt_article
        txt = self.preprocessing(text2)
        #print(txt,len(txt))
        avg1 = len(sent_tokenize(text2))#句子总数
        c2.append(avg1) 
        c2.append(self.avg_sentence_length(txt, avg1))
        c2.extend([self.avg_word_length(txt),self.not_in_dale_chall(txt),self.dif_words(txt)])
        c2.extend(self.freq_syl(txt))
        c2.append(self.avg_syllables(txt))
        vallist = self.pos_count_in_list(txt)
        c2.extend(vallist)
        #print(len(c2),c2)
        return c2
    
    def create_dataframe(self,txt):
        data = []       
        for index, row in txt.iterrows():
            #print(type(np.array(row["class"])),(list(self.fextr(row["article"]))))
            data.append(list(self.fextr(row["article"],row["class"])))
            #print(row["article"], row["class"])
            #print(type(row["article"]), type(row["class"]))
            #print(data)
            if index%1000 == 0:
                print("当前已处理文本数量为：",index)
                #print("当前处理文本为：",data)
        #data = np.array(data).reshape(len(data),47)
        df = pd.DataFrame(data,columns = self.columns)
        return(df)

In [72]:
text_features

,Class,Total Number Of Sentences,Average Sentence Length,Average Word Length,Number of Uncommon Words,Number of Unique Words,Words with 1 to 3 syllables,Words with 4 syllables,Words with 5 syllables,Words with 6 syllables,...,VB,VBD,VBG,VBN,VBP,VBZ,WDT,WP,WP$,WRB
0,high,42,5.500000,5.454545,231,173,81,7,1,0,...,3,8,8,2,13,4,0,0,0,0
1,high,45,7.622222,5.253644,343,231,100,11,2,0,...,13,15,12,6,8,8,1,0,0,0
2,high,24,6.708333,6.279503,161,124,58,6,2,0,...,4,3,6,3,13,1,0,0,0,0
3,high,35,7.571429,5.418868,265,193,99,4,1,0,...,6,22,8,3,8,4,0,0,0,0
4,high,22,7.545455,6.373494,166,115,65,7,6,0,...,3,4,4,6,6,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1402,middle,6,7.500000,5.066667,45,41,16,1,0,0,...,3,0,1,1,4,0,0,0,0,0
1403,middle,28,4.785714,5.007463,134,88,26,1,0,0,...,4,10,1,0,4,0,0,1,0,0
1404,middle,13,5.846154,5.421053,76,46,24,2,0,0,...,0,1,1,3,2,2,0,0,0,0
1405,middle,18,4.111111,4.851351,74,50,20,1,0,0,...,1,7,1,0,3,3,0,0,0,0
1406,middle,6,4.833333,5.034483,29,19,8,0,0,0,...,0,0,0,0,1,1,0,0,0,0

In [73]:
text_features.to_csv("./data/test_features.csv", encoding="utf-8",index=False)

In [76]:
f2 = features()
text_features = f2.create_dataframe(train)

当前已处理文本数量为： 0
当前已处理文本数量为： 1000
当前已处理文本数量为： 2000
当前已处理文本数量为： 3000
当前已处理文本数量为： 4000
当前已处理文本数量为： 5000
当前已处理文本数量为： 6000
当前已处理文本数量为： 7000
当前已处理文本数量为： 8000
当前已处理文本数量为： 9000
当前已处理文本数量为： 10000
当前已处理文本数量为： 11000
当前已处理文本数量为： 12000
当前已处理文本数量为： 13000
当前已处理文本数量为： 14000
当前已处理文本数量为： 15000
当前已处理文本数量为： 16000
当前已处理文本数量为： 17000
当前已处理文本数量为： 18000
当前已处理文本数量为： 19000
当前已处理文本数量为： 20000
当前已处理文本数量为： 21000
当前已处理文本数量为： 22000
当前已处理文本数量为： 23000
当前已处理文本数量为： 24000
当前已处理文本数量为： 25000

In [77]:
text_features

,Class,Total Number Of Sentences,Average Sentence Length,Average Word Length,Number of Uncommon Words,Number of Unique Words,Words with 1 to 3 syllables,Words with 4 syllables,Words with 5 syllables,Words with 6 syllables,...,VB,VBD,VBG,VBN,VBP,VBZ,WDT,WP,WP$,WRB
0,high,30,5.266667,5.303797,158,105,48,4,0,0,...,5,9,7,4,7,1,0,0,0,0
1,high,13,13.538462,5.403409,176,126,69,3,0,0,...,5,13,7,6,5,1,0,0,0,0
2,high,22,7.545455,5.620482,166,127,66,6,1,0,...,9,10,8,5,3,3,1,0,0,0
3,high,10,8.300000,5.939759,83,64,35,3,0,0,...,2,4,1,4,8,3,0,0,0,0
4,high,24,10.208333,6.979592,245,175,103,18,6,0,...,7,6,8,7,11,4,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25132,middle,13,4.846154,4.587302,63,36,10,0,0,0,...,0,8,0,0,0,0,0,0,0,0
25133,middle,11,9.090909,5.150000,100,63,20,2,1,0,...,5,1,2,2,4,4,0,0,0,0
25134,middle,20,4.300000,4.802326,86,57,21,2,0,0,...,2,1,2,0,2,6,0,0,0,0
25135,middle,21,5.952381,5.048000,125,69,34,2,0,0,...,1,0,5,0,4,3,0,0,0,0
25136,middle,18,5.111111,5.532609,92,63,26,3,0,0,...,1,1,4,0,4,3,0,0,0,0

In [78]:
text_features.to_csv("./data/train_features.csv", encoding="utf-8",index=False)

In [81]:
with open("./data/test_features.csv") as f:
    ceshi = pd.read_csv(f,encoding="utf-8")

In [83]:
ceshi.iloc[:,0:11]

,Class,Total Number Of Sentences,Average Sentence Length,Average Word Length,Number of Uncommon Words,Number of Unique Words,Words with 1 to 3 syllables,Words with 4 syllables,Words with 5 syllables,Words with 6 syllables,Words with more than 7 syllables
0,high,42,5.500000,5.454545,231,173,81,7,1,0,84
1,high,45,7.622222,5.253644,343,231,100,11,2,0,118
2,high,24,6.708333,6.279503,161,124,58,6,2,0,58
3,high,35,7.571429,5.418868,265,193,99,4,1,0,89
4,high,22,7.545455,6.373494,166,115,65,7,6,0,37
...,...,...,...,...,...,...,...,...,...,...,...
1402,middle,6,7.500000,5.066667,45,41,16,1,0,0,24
1403,middle,28,4.785714,5.007463,134,88,26,1,0,0,61
1404,middle,13,5.846154,5.421053,76,46,24,2,0,0,20
1405,middle,18,4.111111,4.851351,74,50,20,1,0,0,29
1406,middle,6,4.833333,5.034483,29,19,8,0,0,0,11